.header-1 {
    color: #ff8e8e !important;
}

.layout-main-1 {
    /* background-color: #333333 !important */
    background-color: #FFFFFF !important;
}

.layout-sub-1 {
    /* background-color: rgb(85, 85, 85) !important */
    background-color: rgb(255, 239, 239) !important
}

.content-1 {
    /* color: rgb(255, 209, 209) !important */
    color: #333333 !important
}

.inherit {
    background-color: inherit !important
}

.content-2 {
    color: #999999 !important
}

.v-dialog__activator {
    height: 100% !important
}

.v-dialog__container {
    display: block !important
}

.main {
    background: 
        linear-gradient(to right, rgba(255, 95, 95, 0.7), rgba(189, 108, 255, 0.7)),
        url(https://cdn.vuetifyjs.com/images/parallax/material2.jpg) !important;
}

.secondary {
    background: linear-gradient(to right, rgb(255, 95, 95), rgb(96, 67, 121)),
    url(https://cdn.vuetifyjs.com/images/parallax/material2.jpg) !important;;
    background-blend-mode: overlay;
}

/* .v-toolbar.primary {
    background: linear-gradient(to right, rgb(134, 48, 48), rgb(97, 64, 124)),
    url(https://cdn.vuetifyjs.com/images/parallax/material2.jpg) !important;;
    background-blend-mode: screen;
} */

#app {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important
}

.low-op {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.low-op.theme--dark {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.low-op-2 {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.low-op-2.theme--dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.nobg {
    background: transparent !important
}